trigger:
  branches:
    include:
      - main
      - master
  
pr:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm
  address: ''

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - task: Cache@2
    inputs:
      key: 'npm | "$(Agent.OS)" | package-lock.json'
      restoreKeys: |
        npm | "$(Agent.OS)"
      path: $(npm_config_cache)
    displayName: 'Cache npm packages'

  - script: npm ci
    displayName: 'Install dependencies'

  - script: npx playwright install --with-deps
    displayName: 'Install Playwright Browsers'

  - script: npx playwright test tests/kleenheat-savings-calculator.spec.ts
    displayName: 'Run Kleenheat Savings Calculator Tests'
    env:
      ADDRESS: $(address)

  - task: PublishBuildArtifacts@1
    condition: succeededOrFailed()
    inputs:
      pathToPublish: '$(System.DefaultWorkingDirectory)/playwright-report'
      artifactName: 'playwright-report'
      publishLocation: 'Container'
    displayName: 'Publish Playwright Report'

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      searchFolder: '$(System.DefaultWorkingDirectory)/test-results'
      testResultsFormat: 'JUnit'
      testResultsFiles: '*.xml'
      failTaskOnFailedTests: true
    displayName: 'Publish Test Results'
